body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

.centered-text {
    text-align: left; /* Ändrad från 'center' till 'left' */
    max-width: 800px;
    padding: 20px;

}


/* För att markera texten grönt */
.highlight {
    background-color: green;
    color: black; /* Svart textfärg */
    padding: 1px; /* Justera padding efter behov */
}
