.widget {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%; /* Använd 100% för att anpassa sig till containerns bredd */
    max-width: 500px; /* Sätt en maxbredd för att säkerställa att layouten inte sträcker sig för mycket */
    padding: 20px;
    margin: auto; /* Centrera widgeten horisontellt i alla scenarion */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}

/* Media query för iframes och mindre fönster */
@media screen and (max-width: 600px), (max-width: 500px) {
    .widget {
        width: 100%; /* Justera bredden till 100% även i mindre fönster för konsistens */
    }
}

.input, .output {
    margin: 10px 0;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Säkerställer att knappen är centrerad och lättåtkomlig */
    width: 100%; /* Bredden på knappen anpassas till input-fältets bredd */
    box-sizing: border-box; /* Inkluderar padding och border i bredden */
}

button:hover {
    background-color: #45a049;
}
